CLOCK_SIZE=550
CLOCK_OFFSET=10
DISPLAY_CONTROL=on
DISPLAY_OFF_HOUR=22
DISPLAY_ON_HOUR=10
IMAGE_SIZE=600
NAME=""
PORT=5006
ROON_API_KEY_FNAME=roon_api_key.txt
ROON_CORE_ID_FNAME=roon_core_id.txt
ROON_ZONE=""
SLIDESHOW=on
SLIDESHOW_FOLDER=./pictures
SLIDESHOW_TRANSITION_SECONDS=15
SLIDESHOW_CLOCK_RATIO=0
TZ=America/New_York