[Unit]
Description=roFrame
After=network.target

[Service]
Environment="DISPLAY=:0"
Environment="PYTHONUNBUFFERED=1"
Type=simple
WorkingDirectory=PATH
ExecStart=PATH/venv/bin/python PATH/app.py
Restart=on-failure
User=USER

[Install]
WantedBy=multi-user.target