[Unit]
Description=roFrame
After=network.target

[Service]
Environment="DISPLAY=:0"
Type=notify
WorkingDirectory=PATH
ExecStart=PATH/venv/bin/python -u PATH/app.py
Restart=always
RestartSec=10s
User=USER

[Install]
WantedBy=multi-user.target