<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>roFrame - {{ name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/app.css" rel="stylesheet" />
  </head>
  <body>
    <div id="album" class="mytab d-none container-fluid main-container p-0">
      <!-- Square image container -->
      <div class="square-area">
        <img id="album-img" src="{{ album_cover_url }}" alt="Album Cover" />
      </div>

      <!-- Info area -->
      <div id="info-area">
        <div id="album-info">
          <p id="album-artist">{{ album_artist }}</p>
          <p id="album-title">{{ album_title }}</p>
          <p id="album-track">{{ album_track }}</p>
        </div>
      </div>
    </div>
    <div id="slideshow" class="mytab d-none container-fluid main-container p-0">
      <div class="full-area">
        {% for image in images %}
        <img
          class="slide"
          src="{{ url_for('slideshow_pic', filename=image) }}"
          alt="Slideshow Image"
        />
        {% endfor %} {% for art_image in art_images %}
        <img class="slide" src="{{ art_image }}" alt="Slideshow Image" />
        {% endfor %}
      </div>
    </div>
    <div
      id="clock"
      class="mytab d-none container-fluid main-container p-0"
    ></div>

    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/slideshow.js"></script>
    <script src="/static/clock.js"></script>
    <script src="/static/socket.io.min.js"></script>
    <script src="/static/app.js"></script>
    <script>
      window.onload = function () {
        on_window_load(
          {{ slideshow_clock_ratio }},
          {{ transition_seconds }},
          {{ clock_offset }},
          {{ clock_size }}
       )
      };
    </script>
  </body>
</html>
